:root {
    --main-font: 'Montserrat', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
    --transition: all ease-in-out 0.3s;
    --main-color: rgb(135, 76, 194);
    --raleway-font: 'Raleway', sans-serif;
    scroll-margin-left: 1rem;
}

::-webkit-scrollbar {
    width: 10px;
    position: relative;
    left: 5px;
}
::-webkit-scrollbar-track {
    background: #151515;
}
::-webkit-scrollbar-thumb {
    background: var(--main-color); 
    border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } 

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    background-color: #151515;
}

.hidden {
    display: none !important;
}

.model {
    position: absolute;
    top: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: #151515bb;
    display: grid;
    place-items: center;
}

.btn {
    padding: 0.4rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: none;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: var(--transition);
    flex: 1;
}

.color-medium {
    color: orangered;
}

.color-low {
    color: rgb(255, 255, 83);
}

.color-high {
    color: red;
}

.flex-1 {
    flex: 1;
}

/* HEADER STYLING */

header {
    /* background: linear-gradient(90deg, rgba(8,234,133,1) 0%, rgba(8,234,201,1) 100%); */
    padding: 0.5rem 2rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #fff 3px solid;
}

.header-title {
    font-size: 2rem;
    font-family: var(--main-font);
    color: #fff;
}

.login-btn, .sign-up-btn {
    display: inline-block;
}

.login-btn {
    background-color: transparent;
}

.login-btn:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

/* MAIN STYLING */

main {
    display: flex;
}

/* SIDE NAV STYLING */

nav {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 1rem;
    height: calc(100vh - 4rem);
    /* margin: 0.5rem; */
    transition: var(--transition);
    position: relative;
}

.projects-tab-container {
    overflow-y: scroll;
}

.projectLink-wrapper {
    display: flex;
    align-items: center;
}

.project-del-btn {
    color: #fff;
    margin-left: 5px;
    padding: 10px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: var(--transition);
}

.project-del-btn > i {
    margin-right: 0;
}

.project-del-btn:hover {
    background-color: #303030;
    color: rgb(255, 144, 144);
}

#open-project-model-btn {
    background-color: rgb(255, 255, 83);
    color: #101010;
}

nav:hover {
    background-color: #202020;
}

nav div:not(.add-project-model) {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

nav h2 {
    font-size: 1.5rem;
    color: #fff;
    font-family: var(--main-font);
    margin-bottom: 0.5rem;
}

.nav_link {
    padding: 0.5rem 1rem;
    margin: 0.1rem 0;
    background-color: rgb(135, 76, 194, 0.15);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-family: var(--main-font);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    cursor: pointer;
}

.nav_link span {
    margin-right: 0.4rem;
}

.nav_link:hover, .nav_link.active {
    background-color: var(--main-color);
}

/* ADD PROJECT MODEL STYLING */

#add-project-model {
    position: absolute;
    left: 0;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #101010e5;
    display: grid;
    place-items: center;
    padding: 0 0.2rem;
}

#add-project-model form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#add-project-model form label {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--main-font);
}

#add-project-model form span {
    width: 100%;
    display: flex;
    gap: 0.4rem;
}

.project-name-error-msg {
    color: red;
    font-family: var(--main-font);
    font-size: 0.8rem;
}

/* TASK CONTAINER STYLING */

.main-container {
    flex: 1;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4rem);
}

.top-container {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    font-family: var(--main-font);
    font-size: 1.5rem;
    color: #fff;
}

.intro span {
    font-size: inherit;
}

.sub-greeting {
    color: #505050;
    font-family: var(--main-font);
    font-size: 1.2rem;
    font-weight: 700;
}

.open-task-model-btn {
    flex: none;
    background-color: rgb(255, 255, 83);
    color: #101010;
}

.open-task-model-btn span {
    margin-right: 0.3rem;
}

.open-task-model-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.open-task-model-btn:active {
    transform: translateY(5px) scale(1.1);
}

#project-title-wrapper {
    margin-bottom: 1rem;
}

#project-title-wrapper h1 {
    font-size: 2rem;
    color: #fff;
    font-family: var(--secondary-font);
}

/* ADD TASK MODEL STYLING */

.add-task-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    background-color: #101010;
    padding: 1rem 1.5rem;
    border-radius: 4px;
}

.add-task-form h2 {
    font-size: 1.5rem;
    color: #fff;
    font-family: var(--main-font);
    text-align: center;
}

.add-task-form span:not(.priority-span, .project-span) {
    grid-column: 1 / 3
}

.add-task-form > span {
    display: flex;
    flex-direction: column;
}

.due-date-span > span {
    display: flex;
    justify-content: stretch;
    gap: 0.4rem;
}

.label {
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.form-control {
    flex: 1;
    background-color: #303030;
    color: #fff;
    font-family: var(--main-font);
    padding: 0.2rem 0.5rem;
    border: none;
    outline: none;
    border-radius: 4px;
}

.form-control:focus {
    outline: var(--main-color) solid;
    background-color: #353535;
}

.add-btn {
    background-color: rgb(0, 255, 128);
    color: #101010;
}

.cancel-btn {
    background-color: red;
}

/* TASK STYLING */

#task-container {
    /* flex: 1; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 1rem;
    overflow-y: scroll;
}

.priority-bar {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 10px;
    background-color: #101010;
}

.low {
    background-color: rgb(255, 255, 83);
}

.medium {
    background-color: rgb(216, 88, 41);
}

.high {
    background-color: rgb(255, 0, 0);
}

.task {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5rem;
    background-color: #222;
    padding: 1rem;
    border-radius: 4px;
    height: max-content;
    position: relative;
    overflow: hidden;
}

.desc, .time {
    grid-column: 1 / 3;
}

.time-left {
    justify-self: end;
    font-family: var(--raleway-font);
    color: rgb(255, 242, 182);
}

.title {
    font-size: 1.5rem;
    font-family: var(--main-font);
    color: var(--main-color);
}

.desc {
    font-family: var(--raleway-font);
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
}

.time {
    font-family: var(--secondary-font);
    font-weight: 400;
}

.project, .priority {
    font-family: var(--main-font);
    margin-bottom: 0.5rem;
}

.task-actions {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 0.5rem;

}

.edit-task, .delete-task {
    background-color: transparent;
    border: 2px solid #606060;
    color: #404040;
    font-weight: 600;
    transition: var(--transition);
}

.edit-task:hover {
    background-color: #202020;
    color: rgb(255, 255, 88);
    border-color: rgb(255, 255, 88);
}

.delete-task:hover {
    background-color: #202020;
    color: rgb(255, 53, 53);
    border-color: rgb(255, 53, 53);
}

.edit-task:active, .delete-task:active {
    background-color: #101010;
    transition: none;
}

.complete-task {
    background-color: rgb(0, 255, 128);
    color: #101010;
}

.complete-task:active {
    background-color: rgb(0, 150, 100);
}

.edit-icon, .delete-icon, .complete-icon {
    margin-right: 0.3rem;
}


.no-task-wrapper {
    color: rgb(122, 122, 122);
    display: grid;
    place-items: center;
}

.no-task-wrapper h2 {
    font-size: 2rem;
    font-family: var(--main-font);
}

.no-task-wrapper span {
    color: var(--main-color);
    font-size: inherit;
}